

.des7{
          position: absolute;
          top: 171px;
        left: 77px;

          
height: 28px;
text-align: center;
font: normal normal 300 20px/80px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
      }
      .des{
          position: absolute;
          top: 171px;
        

height: 28px;
text-align: center;
font: normal normal 300 20px/80px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
      }
      .on{
          left: 65px;
          top: 77px;
          position: absolute;
        
height: 84px;
text-align: center;
font: normal normal 300 60px/65px Poppins;
letter-spacing: 0px;
color: #000000;
text-transform: uppercase;
opacity: 1;
      }

      .scm{
          position: absolute;
          top: 34px;
        left: 115px;
width: 39px;
height: 34px;
background: transparent url('img/heart (2).png') 0% 0% no-repeat padding-box;
opacity: 1;
      }
       .wa{
          position: absolute;
          top: 3754px;
        left: 1275px;
width: 270px;
height: 233px;
background: #FFFFFF 0% 0% no-repeat padding-box;

opacity: 1;
      }
       .cp{
          position: absolute;
          top: 3754px;
        left: 975px;
width: 270px;
height: 233px;
background: #FFFFFF 0% 0% no-repeat padding-box;

opacity: 1;
       }
.cp:hover, .do:hover, .sc:hover, .wa:hover{
    box-shadow: 3px 6px 20px #672C2C1F; 
}
      
       .do{
          position: absolute;
          top: 3754px;
        left: 675px;
width: 270px;
height: 233px;
background: #FFFFFF 0% 0% no-repeat padding-box;

opacity: 1;
      }
      .sc{
          position: absolute;
          top: 3754px;
        left: 375px;
width: 270px;
height: 233px;
background: #FFFFFF 0% 0% no-repeat padding-box;

opacity: 1;
      }
      .ocg{
          position: absolute;
          top: 3649px;
        left: 682px;

height: 45px;
text-align: center;
font: normal normal bold 45px/65px Cormorant SC;
letter-spacing: 0px;
color: #000000;
text-transform: uppercase;
opacity: 1;
      }
      .eg{
          position: absolute;
          top: 3585px;
        left: 847px;
width: 226px;
height: 24px;
text-align: center;
font: normal normal 600 24px/26px Cormorant SC;
letter-spacing: 0px;
color: #FF3147;
text-transform: uppercase;
opacity: 1;
      }
    .cont{
                
width: 1920px;
height: 2929px;
background: #FAFAFA 0% 0% no-repeat padding-box;
opacity: 1;
    }
